.wrap {
  overflow: auto;
  background-color: #181A1F;
}
.wrap .codeTips {
  min-width: 150px;
  color: #fafafa;
  border: 0.5px solid #fafafa;
}
.wrap .codeTips .tipWord {
  width: 100%;
  height: 22px;
  padding-left: 5px;
  line-height: 22px;
}
.wrap .codeTips .tipWord[data-select="true"] {
  background-color: #062F4A;
  color: #FFFFFF;
}
.wrap .codeWrap {
  background-color: #181A1F;
  color: #569cd6;
  font-size: 12px;
  padding: 5px;
  height: 595px;
  display: flex;
  font-weight: normal;
  font-size: 15px;
  line-height: 20px;
}
.wrap .codeWrap .codeIndex {
  width: 5%;
  height: 100%;
  color: #bfbfbf;
}
.wrap .codeWrap .codeIndex .index {
  width: 100%;
  height: 18px;
  text-align: center;
}
.wrap .codeWrap .codeIndex .index[data-select=true] {
  color: #fafafa;
}
.wrap .codeWrap .codeContent {
  width: 95%;
  height: 100%;
}
.wrap .codeWrap .codeContent input {
  background-color: #181A1F;
  outline: none;
  border: none;
  width: 100%;
  font-weight: normal;
  padding: 0px;
  color: #9cdcfe;
}
.wrap .footer {
  position: absolute;
  height: 50px;
  bottom: 0px;
  width: 98%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
