.wrap {
    min-height: ~"calc(100vh - 64px)";
    padding: 20px 25%;

    .backTip {
        color: #909399;
        font-size: 15px;
        transition: all 0.2s;
        cursor: pointer;

        &:hover {
            color: #303133;
        }
    }

    .header {
        display: flex;
        align-items: flex-start;

        .roundModal {
            // .card();
            padding: 0px;
        }

        .img {
            flex: 0 0 120px;
            margin-right: 20px;

            img {
                width: 100%;
                border-radius: 4px;
                box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
            }
        }

        .direction {
            height: 100px;
            flex: 1 1 auto;
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            justify-content: space-between;

            .title {
                font-weight: 500;
                font-size: 18px;
            }

            .msg {
                font-size: 14px;
                color: #909399;
            }

            .labels {
                display: flex;
                flex-wrap: wrap;

                .label {
                    border-radius: 9999px;
                    padding: 2px 8px;
                    font-size: 12px;
                    background-color: rgba(0, 10, 32, .08);
                    margin-right: 10px;
                    color: rgba(60, 60, 67, .8);
                }
            }
        }
    }

    .countCard {
        .card();
        display: flex;
        align-items: center;
        justify-content: space-between;

        .countModal {
            display: flex;

            .count {
                margin-right: 10px;
                display: flex;
                flex-direction: column;
                align-items: center;

                >div {
                    line-height: 16px;
                    font-size: 16px;
                    margin: 10px;
                    color: rgba(60, 60, 67, .3);

                    &[data-title="true"] {
                        color: #303133;
                    }
                }

                .divider {
                    display: block;
                    margin: 0px 8px;
                    width: 30px;
                    height: 1px;
                    background-color: rgba(60, 60, 67, .2);
                }

                .title {
                    .rankno();
                }
            }
        }
    }

    .partTitle {
        margin: 2px 0px;
        color: #303133;
        font-size: 16px;
    }

    .partMsg {
        margin: 2px 0px;
        color: #909399;
    }

    .problemList {
        .card();

        .problemItem {
            display: flex;
            border-bottom: 1px solid #f7e8e8;
            align-items: center;
            justify-content: space-between;
            position: relative;
            font-size: 14px;
            height: 40px;
            box-sizing: content-box;
            padding-bottom: 15px;
            margin: 10px;

            &:first-child {
                margin-top: 0px;
            }

            &:last-child {
                margin-bottom: 0px;
                padding-bottom: 0px;
                border: none;
            }

            .left {
                display: flex;
                align-items: center;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: 0%;

                .title {
                    font-weight: 500;
                    cursor: pointer;
                    transition: all 0.1s;

                    &:hover {
                        color: #409EFF;
                    }
                }
            }

            .rank {
                .rankno();
                font-size: 16px;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: 45%;
            }

            .right {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: 85%;
            }

            .rate {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: 60%;
                color: rgba(38, 38, 38, .6);
            }

            .icon {
                width: 30px;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: 91%;
                opacity: 0;
                z-index: 100;
                transition: all 0.2s;

                img {
                    width: 100%;
                }
            }

            &[data-disabled="true"] {
                opacity: .5;
                color: rgba(38, 38, 38, .4);

                .title:hover {
                    color: rgba(38, 38, 38, .4);
                }

                .rank {
                    color: rgba(38, 38, 38, .4);
                }

                &:hover {
                    cursor: not-allowed;

                    .icon {
                        opacity: 1;
                    }
                }
            }
        }
    }
}

.card {
    padding: 10px 60px 10px 30px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 0 #0000, 0 0 #0000, 0px 1px 3px rgba(0, 0, 0, .04), 0px 2px 8px rgba(0, 0, 0, .08);
}

.rankno {
    font-size: 18px;

    &[data-rank="1"] {
        color: rgb(0, 171, 155);
    }

    &[data-rank="2"] {
        color: rgb(255 184 0/1);
    }

    &[data-rank="3"] {
        color: rgb(255 45 85/1);
    }
}