.wrap {
  width: 70%;
  height: 600px;
  background: #1C273D;
  position: fixed;
  top: 65px;
  left: 50%;
  z-index: 100;
  transform: translateX(-50%);
  border-radius: 2px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 0 6px rgba(0, 0, 0, 0.04);
}
.wrap .aside {
  width: 60px;
  height: 100%;
  float: left;
  text-align: center;
}
.wrap .aside .roundWrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 12px;
}
.wrap .aside .roundWrap .round {
  border-radius: 50%;
  width: 9px;
  height: 9px;
  border: 1px solid rgba(255, 255, 255, 0.1);
}
.wrap .aside .menuItem {
  margin: 5px 10px;
  padding: 6px 0px;
  border-radius: 3px;
  transition: all 0.2s;
  cursor: pointer;
}
.wrap .aside .menuItem:hover svg {
  color: #fff;
}
.wrap .aside .menuItem[data-active=true] {
  background-color: #5B66F4;
}
.wrap .aside .menuItem[data-active=true] svg {
  color: #fff;
}
.wrap .main {
  overflow: auto;
  background: #fff;
  height: 100%;
}
.wrap .main .header {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  border-bottom: 1px solid #E4E7ED;
}
.wrap .main .header .title {
  font-size: 18px;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.75);
}
.wrap .main .content {
  height: calc(100% - 50px);
  display: flex;
}
.wrap .main .content > div {
  height: 100%;
}
.wrap .main .content .aside {
  flex: 0 0 28%;
  padding: 15px;
  border-right: 1px solid #E4E7ED;
  overflow: auto;
}
.wrap .main .content .center {
  flex: 1 1 auto;
  padding: 12px;
}
