.wrap {
    margin: 20px 200px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    transition: all 0.2s;

    .content {
        width: 72%;

        .setList {
            display: flex;
            align-items: center;
            font-size: 14px;

            .set {
                background-color: #ffffff;
                margin-right: 20px;
                padding: 8px 16px;
                border-radius: 2px;
                // border: 1px solid #d9d9d9;
                box-shadow: 0px 2px 4px #f0f0f0;
                .pointer();
                transition: all 0.1s;
                color: rgba(36, 41, 47, 0.8);
                display: flex;
                align-items: center;

                .logo {
                    width: 22px;
                    margin-right: 10px;
                }

                &:hover {
                    color: #24292f;
                }

                &[data-active=true] {
                    color: #fff;
                    background-color: #1890ff;
                    border: none;
                }
            }
        }

        .typeList {
            display: flex;
            align-items: center;
            font-size: 14px;
            flex-wrap: wrap;

            .type {
                .pointer();
                margin-right: 20px;

                &:hover {
                    color: #1890ff;
                }

                &[data-active=true] {
                    color: #1890ff;
                }
            }
        }

        .labelList {
            display: flex;
            align-items: center;
            font-size: 14px;
            flex-wrap: wrap;

            .label {
                padding: 0px 8px;
                font-size: 12px;
                height: 24px;
                line-height: 20px;
                font-weight: 400;
                color: rgba(0, 122, 255, 1);
                cursor: pointer;
                display: flex;
                -webkit-box-align: center;
                align-items: center;
                background-color: rgba(0, 10, 32, 0.05);
                border-radius: 12px;
                margin: 2px 10px 2px 0px;

                &[data-active=true] {
                    background-color: rgba(0, 122, 255, 0.9);
                    color: #fff;
                }
            }
        }

        :global .ant-table-thead>tr>th {
            background-color: #fff;
        }

        :global .ant-table-thead>tr>th,
        :global .ant-table-tbody>tr>td,
        :global .ant-table tfoot>tr>th,
        :global .ant-table tfoot>tr>td {
            padding: 5px;
            .pointer();
        }

        :global a {
            color: #24292f;
        }
    }

    .aside {
        width: 25%;

        .roundWrap{
            background-color: #fff;
            border: 1px solid #f5f5f5;
            border-radius: 6px;
            padding: 10px 15px;
            cursor: pointer;
            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
            height: 60px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            overflow: hidden;
            transition: all .2s;;

            &:hover{
                transform: scale(1.02,1.02);
            }

            .left{
                height: 100%;
                display: flex;
                align-items: center;

                img{
                    height: 100%;
                    margin-right: 10px;
                }
    
                text{
                    font-size: 18px;
                }
            }
        }

        p {
            margin: 15px;
            color: rgba(0, 0, 0, 0.4);
        }

        .uploadModal {
            border: 1px solid #f5f5f5;
            border-radius: 4px;
            background-color: #fff;
            padding: 10px 5px;
            cursor: pointer;
            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
            transition: all 0.2s;

            // &:hover {
    //     transform: scale(1.02, 1.02);
    // }
        }
    }
}

.pointer {
    cursor: pointer;
}

.text {
    &[data-color="1"] {
        color: rgba(0, 175, 155, 0.8);
    }

    &[data-color="2"] {
        color: rgba(255, 184, 0, 0.8);
    }

    &[data-color="3"] {
        color: rgba(255, 45, 85, 0.8);
    }
}