@import '~antd/dist/antd.css';
html {
    overflow-y: auto;
    overflow-x: hidden;
}

body {
    width: 100vw;
}

::-webkit-scrollbar {
    width: 8px;
    opacity: 1;
    box-shadow: 0 0px 4px rgba(0, 0, 0, .12);
}

::-webkit-scrollbar-thumb {
    background-color: #bfbfbf;
}