.wrap{
    margin:5px 0px;
    display:flex;
    align-items:flex-start;

    .aside{
        width:15%;
        min-height: ~"calc(100vh - 64px)";
        background-color:#fff;
        border-radius: 4px;
        box-shadow: 2px 0 4px 0 hsl(0deg 0% 88% / 50%);
        margin-right: 20px;
    }

    .center{
        width:70%;
        background-color:#fff;
        padding:20px;
        border-radius: 4px;
        box-shadow: 2px 0 4px 0 hsl(0deg 0% 88% / 50%);
        min-height: ~"calc(100vh - 64px)";

        .header{
            display: flex;
            align-items: center;
            margin-bottom: 20px;
        }

        .content{
            display: flex;
            flex-wrap: wrap;
            align-items: center;

            .card{
                border:1px solid #f0f0f0;
                border-radius: 2px;
                background-color:#fff;
                width:220px;
                height:220px;
                margin: 0px 20px 20px 0px;
                transition: all 0.2s;
                cursor: pointer;
    
                &:hover{
                    box-shadow: 0 6px 16px -8px #00000014, 0 9px 28px #0000000d, 0 12px 48px 16px #00000008;
                }

                .cardHeader{
                    display: flex;
                    align-items: center;
                    border-bottom:1px solid #f0f0f0;
                    font-size: 16px;
                    padding:10px 0px 0px 20px;

                    .logo{
                        height:44px;
                    }
                }

                .cardContent{
                    padding:30px;
                }
            }
        }

        .footer{
            display:flex;
            align-items:center;
            justify-content:center;
            margin-top: 20px;
        }
    }
}