.wrap .header {
  border: 2px solid #f2f3f5;
  background-color: #fff;
  box-shadow: 0px 2px 4px #bfbfbf;
}
.wrap .header .content {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: height 0.1s ease-in;
}
.wrap .header .content[data-show=true] {
  height: 150px;
}
.wrap .header .content[data-show=false] {
  height: 0px;
}
.wrap .header .content input {
  color: #57606a;
  border: 2px solid #d0d4db;
  border-radius: 10px;
  height: 45px;
  width: 700px;
  padding-left: 10px;
}
.wrap .header .content input:focus {
  border: 2px solid #434343;
  outline: none;
}
.wrap .header .content input:hover {
  border: 2px solid #434343;
}
.wrap .header .footer {
  height: 50px;
  position: relative;
}
.wrap .header .footer .tabs {
  margin: 0 200px;
  display: flex;
  align-items: center;
  height: 100%;
}
.wrap .header .footer .tabs .tab {
  height: 100%;
  width: 100px;
  color: rgba(36, 41, 47, 0.7);
  transition: all 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  font-size: 16px;
}
.wrap .header .footer .tabs .tab:hover {
  color: #24292f;
  cursor: pointer;
  border-bottom: 3px solid rgba(36, 41, 47, 0.2);
}
.wrap .header .footer .tabs .tab[data-active=true] {
  color: #24292f;
  border-bottom: 3px solid #24292f;
  font-weight: 550;
}
.wrap .header .footer .switch {
  height: 40px;
  width: 60px;
  position: absolute;
  bottom: -40px;
  right: 300px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  box-shadow: 0px 3px 3px #bfbfbf;
  cursor: pointer;
}
