.wrap {
  margin-top: 5px;
  display: flex;
  align-items: flex-start;
}
.wrap .aside {
  flex: 0 0 300px;
  min-height: calc(100vh - 64px);
  background-color: #fff;
  padding: 10px;
  box-shadow: 0 0px 4px rgba(0, 0, 0, 0.08);
}
.wrap .center {
  flex: 1 1 auto;
  height: calc(100vh - 64px);
  overflow: auto;
}
.wrap .center .searchbox {
  margin: 10px 0px 0px 20px;
  width: 250px;
}
.wrap .center .circleList {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}
.wrap .center .circleList .circleCard {
  background-color: #fff;
  margin: 22px;
  border-radius: 2px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 0 6px rgba(0, 0, 0, 0.04);
  width: 280px;
  height: 140px;
  transition: all 0.2s;
  cursor: pointer;
}
.wrap .center .circleList .circleCard .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 10px;
}
.wrap .center .circleList .circleCard .header .title {
  display: flex;
  width: 160px;
  align-items: center;
}
.wrap .center .circleList .circleCard .header .title h3 {
  margin-left: 10px;
}
.wrap .center .circleList .circleCard .header .action {
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  font-size: 12px;
}
.wrap .center .circleList .circleCard .header .action:hover {
  cursor: pointer;
}
.wrap .center .circleList .circleCard .header .action div {
  padding: 2px 5px;
}
.wrap .center .circleList .circleCard .header .action .join {
  border-right: 1px solid rgba(0, 0, 0, 0.3);
}
.wrap .center .circleList .circleCard .header .action[data-active=true] {
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.3);
}
.wrap .center .circleList .circleCard .header .action[data-active=true] .join {
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}
.wrap .center .circleList .circleCard .content {
  padding: 10px;
}
.wrap .center .circleList .circleCard:hover {
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
}
.button {
  position: absolute;
  right: 20px;
  top: 28px;
}
