.wrap{
    margin:5px 0px;
    display:flex;
    align-items:flex-start;

    .aside{
        width:15%;
        min-height: ~"calc(100vh - 64px)";
        background-color:#fff;
        border-radius: 4px;
        box-shadow: 2px 0 4px 0 hsl(0deg 0% 88% / 50%);
        margin-right: 10px;
        padding-top:20px;
    }

    .center{
        width:82%;
        background-color:#fff;
        padding:20px;
        border-radius: 4px;
        box-shadow: 2px 0 4px 0 hsl(0deg 0% 88% / 50%);
        min-height: ~"calc(100vh - 64px)";

        .content{
            display: flex;
            flex-wrap: wrap;
            align-items: center;

            .card{
                border:1px solid #f0f0f0;
                border-radius: 2px;
                background-color:#fff;
                width:280px;
                height:270px;
                margin: 0px 20px 20px 0px;
                transition: all 0.2s;
                cursor: pointer;
                position: relative;
                
    
                &:hover{
                    box-shadow: 0 6px 16px -8px #00000014, 0 9px 28px #0000000d, 0 12px 48px 16px #00000008;
                }

                .cardHeader{
                    font-size: 14px;
                    position: absolute;
                    bottom:0px;
                    width:100%;
                    padding: 0px 10px 0px 10px;

                    .logo{
                        height:44px;
                    }
                }
            }
        }

        .footer{
            display:flex;
            align-items:center;
            justify-content:center;
        }
    }
}

.header{
    display: flex;
    align-items: center;
    // justify-content: center;
    margin: 10px;
}