.wrap {
  margin: 5px 0px;
  display: flex;
  align-items: flex-start;
}
.wrap .aside {
  width: 15%;
  min-height: calc(100vh - 64px);
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 2px 0 4px 0 hsla(0, 0%, 88%, 0.5);
  margin-right: 10px;
  padding-top: 20px;
}
.wrap .center {
  width: 82%;
  background-color: #fff;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 2px 0 4px 0 hsla(0, 0%, 88%, 0.5);
  min-height: calc(100vh - 64px);
}
.wrap .center .content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.wrap .center .content .card {
  border: 1px solid #f0f0f0;
  border-radius: 2px;
  background-color: #fff;
  width: 280px;
  height: 270px;
  margin: 0px 20px 20px 0px;
  transition: all 0.2s;
  cursor: pointer;
  position: relative;
}
.wrap .center .content .card:hover {
  box-shadow: 0 6px 16px -8px #00000014, 0 9px 28px #0000000d, 0 12px 48px 16px #00000008;
}
.wrap .center .content .card .cardHeader {
  font-size: 14px;
  position: absolute;
  bottom: 0px;
  width: 100%;
  padding: 0px 10px 0px 10px;
}
.wrap .center .content .card .cardHeader .logo {
  height: 44px;
}
.wrap .center .footer {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header {
  display: flex;
  align-items: center;
  margin: 10px;
}
